<div >
    <div class="contact-form bg-light mb-4" style="padding: 30px;">
        <form>
            <div class="row">
                <div class="col-6 form-group">
                    <input type="text" class="form-control p-4" [(ngModel)]="MyContact.name" placeholder="Your Name" required="required" name="name">
                </div>
                <div class="col-6 form-group">
                    <input type="email" class="form-control p-4" [(ngModel)]="MyContact.email" placeholder="Your Email" required="required" name="email">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control p-4" [(ngModel)]="MyContact.subject" placeholder="Subject" required="required" name="subject">
            </div>
            <div class="form-group">
                <textarea class="form-control py-3 px-4" rows="5" [(ngModel)]="MyContact.message" placeholder="Message" required="required" name="message"></textarea>
            </div>
            <div>
                <button class="btn btn-primary py-3 px-5" (click)="PostData()">Send Message</button>
            </div>
        </form>
    </div>
</div>
