<div >
    <div class="service-item d-flex flex-column justify-content-center px-4 mb-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center justify-content-center bg-primary ml-n4" style="width: 80px; height: 80px;">
                <i class="fa fa-2x fa-taxi text-secondary"></i>
            </div>
            <h1 class="display-2 text-white mt-n2 m-0">{{number }}</h1>
        </div>
        <h4 class="text-uppercase mb-3">{{title}}</h4>
        <p class="m-0">{{description}}</p>
    </div>
</div>
